/*Nyomtatási kép*/
@media print {
    nav,footer, header, .menu-container {
      display: none; 
    }

    video {
      display: none; 
    }

    img {
      max-width: 50%;
    }
  }